/*
The primary stylesheet for Flexbox Menu Demo web page. This sheet pulls in all the components in order of appearance.
*/

@import url('imports/menus/reset.css');
@import url('imports/menus/accessibility.css');
@import url('imports/menus/layout.css');
@import url('imports/menus/typography.css');
@import url('imports/menus/masthead.css');
@import url('imports/menus/nav-base.css');
@import url('imports/menus/nav-single-level.css');
@import url('imports/menus/nav-advanced.css');
@import url('imports/menus/nav-multi-level.css');
@import url('imports/menus/nav-mixed.css');
@import url('imports/menus/nav-social.css');


.top-menu ul{
    color: #fff;
    background-color: hsl(0, 0%, 15%);
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.top-menu li:hover a {
    background-color: tomato;
}
.top-menu li.active a {
    background-color: tomato;
}
.top-menu .menu-section {
    margin-bottom: 0;
}